*{
    margin: 0%;
    padding: 0%;
}

footer{
    width: 100%;
}

.first_footer{
    background-color: #f3f3f3;
}

.first_footer_main{
    width: 93%;
    margin: auto;
    display: flex;
}

.img img{
    width:110px;
}

.vr{
    width: 2px;
    height: 20px;
    background-color: rgb(187, 178, 178);
    margin: 14px 20px;
}

.apps>a{
    display: flex;
    padding: 15px 5px;
    text-decoration: none;
    font-family: 'Play', sans-serif;
}

.apps>a>i{
    color: rgb(226, 68, 94);
}

.apps>a>h3{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Play', sans-serif;
    margin-left: 10px;
    margin-top: -2px;
    color: rgb(87, 76, 76);
}

.stars{
    padding: 12px 10px;
}

.stars>i{
    transform: rotate(-45deg);
    font-size: 14px;
}

#purple_star{
    color: purple;
}

#yellow_star{
    color: yellow;
}
#pink_star{
    color: #EA047E;
}

.head_center{
    font-family: 'Play', sans-serif;
    padding: 10px 5px;
    width: 400px;
    text-align: center;
}

.footer_mid{
    display: flex;
    width: 90%;
    margin: auto;
}

.search_bar{
    border-bottom: 1px solid gray;
    padding-top: 40px;
    padding-right: 20px;
    height: 25px;
    width: 350px;
    
}

.search_bar>i{
    color: #EA047E;
    padding: 0px 10px;
    font-size: 18px;
    
}

.search_bar>input{
    font-size: 18px;
    border: none;
    outline: none;
}

.logo{
    padding: 0px 80px;
}
.logo>img{
    width: 250px;
}

.featurs{
    display: flex;
    padding-left: 200px;
    padding-top: 30px;
}

.nav_links{
    width: 95%;
    margin: auto;
    
}

.nav_links>ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links>ul>li{
    padding: 5px 1px;
    list-style: none;
    text-align: center;
    width: 165px;
    border-bottom: 1px solid  rgb(187, 178, 178);
    font-weight: 500;
    font-family: 'Domine', serif;
    font-weight: 600;

}

#pop {
    position: absolute;
	display: none;
	background-color: #222;
    font-family: 'Play', sans-serif;
	top: 200px;
    color: white;
	text-align: left;
    left: 0px;
    width: 100%;
    
    
}

.nav_links>ul>li:hover{
    box-shadow: 5px 5px 15px rgb(167, 159, 159);
    color: #EA047E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.nav_links>ul>li:hover > #pop  {
	display: block;
    z-index: 99999;
}

table{
    width: 80%;
    padding: 20px 0px;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
}
table>th{
    margin-bottom: 30px;
}
td{
    line-height: 20px;
}

td:hover{
    color: #EA047E;
}

/* Slider */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
  }



/* DEALS */

.deals{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.deals_item{
    width: 200PX;
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 10px;
    padding: 15px 10px;
}

/* BRANDWEEK */

.brandsweek{
    width: 100%;
    margin-top: 120px;
}

.brandsweek h1{
    text-align: center;
    font-size: 55px;
    font-family: 'Dancing Script', cursive;
}

.brandsweek img{
    width: 80%;
    margin-top: 40px;
    margin-left: 10%;
}

.brand_weeks_list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: auto;
}

.brand_weeks_list>img{
    width: 380px;
}


/* card slider */

.card h1{
  margin-top: 120px;
  text-align: center;
  font-size: 55px;
  font-family: 'Dancing Script', cursive;
}

.card_main{
    display: flex;
    width: 90%;
    margin: 50px auto;
}



.swip {
    width: 50%;
    overflow: hidden;
    height: 50%;
    margin-top: 30px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    cursor: pointer;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  

  .layer{
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 40%;
	left: 0%;
	transition: 0.5s;

}
.layer:hover {
	background: rgba(91, 209, 215);
    bottom: 20%;
}
.layer h3{
	width: 100%;
	color: white;
	font-size: 20px;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.7s;
    font-family: 'Play', sans-serif;
}
.layer:hover h3{
	bottom: 80%;
	opacity: 1;

}

.layer p{

    width: 80%;
    margin: auto;
	color: white;
	font-size: 16px;
	bottom: 0%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.9s;
    line-height: 20px;
    font-family: 'Play', sans-serif;

}

.layer:hover p{
	bottom: 45%;
	opacity: 1;

}

video{
    margin-left: 50px;
}


.card_end{
   width: 90%;
   margin: auto;
}

.card_end img{
    width: 100%;
}

/* lasy */

.lasy{
    width: 90%;
    margin: 70px auto;
}


.lasy_head>h1{
    text-align: center;
    font-size: 50px;
}

.lasy_row{
    display: grid;
    margin-top: 30px;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
}

.lasy_row>img{
    width: 380px;
    margin: auto;
}


/* BACK TO TP */

.backtotop>a{
    display: block;
    width: 200px;
    padding: 12px 5px;
    background-color: #abc72c;
    margin: 50px auto 0px auto;
    text-align: center;
    color: #222;
    text-decoration: none;
    font-weight: 600;
}




.subscribe{
    width: 100%;
    height: 170px;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    
}

.subscribe>h1{
    text-align: center;
    padding-top: 30px;
    letter-spacing: 1px;
}

.add_email{
    width: 600px;
    margin:  30px auto;
    display: flex;
}

.add_email>input{
    font-size: 20px;
    width: 400px;
    border: none;
    outline: none;
    padding: 5px;
    font-family: 'Play', sans-serif;
}

.add_email>h2{
  background-color: black;
  color: white;
  
  
  font-weight: 400;
}

.add_email>h2>button{
    padding: 15px 30px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-family: 'Play', sans-serif;
}


.popup {
    width: 800px;
    background-color: #f2f2f2;
    display: flex;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    color: black;
    padding: 30PX 30PX;
    transition: transform 0.4s, top .04s ;
}

.popup>h1{
    font-family: 'Play', sans-serif;
    letter-spacing: 1px;
}

.open-popup{
    visibility: visible;
    top: 500%;
    transform: translate(-50%,-50%) scale(1);
}

.close{
    font-size: 25px;
    background-color: transparent;
    margin-left: 30px;
    border: none;
}


/* t&C */

.terms{
    width: 100%;

}

.terms_main{
    width: 90%;
    margin: 40px auto;

}

.terms_main h3{
    text-align: center;
    font-family: 'Play', sans-serif;
    margin-bottom: 10px;
    margin-top: 20px;
    color: rgb(124, 0, 0);
}

.terms_main p{
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Play', sans-serif;
    color: rgb(133, 122, 122);
}

/* FOOTER */

footer{
    width: 100%;
    margin-top: 80px;
}

.footer_main{
    width: 80%;
    margin: auto;
}

.footer_links{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: auto;
}


.footer_links a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #222;
}

.footer_links a:hover{
    color: #EA047E;
}


.footer_links1{
    display: flex;
    width: 20%;
    justify-content: space-between;
    padding-top: 30px;
    margin: auto;
}


.footer_links1 a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #222;
    font-size: 30px;
}

.footer_links1 a:hover{
    color: #EA047E;
}


.footer_links3{
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding-top: 30px;
    margin: auto;
}


.footer_links3 a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #222;
    font-size: 14px;
    font-family: 'Play', sans-serif;

}

.footer_links3>h3{
    padding-top: 15px;
}