*{
    margin: 0%;
    padding: 0%;
}

footer{
    width: 100%;
}

.first_footer{
    background-color: #f3f3f3;
}

.first_footer_main{
    width: 93%;
    margin: auto;
    display: flex;
}

.img img{
    width:110px;
}

.vr{
    width: 2px;
    height: 20px;
    background-color: rgb(187, 178, 178);
    margin: 14px 20px;
}

.apps>a{
    display: flex;
    padding: 15px 5px;
    text-decoration: none;
    font-family: 'Play', sans-serif;
}

.apps>a>i{
    color: rgb(226, 68, 94);
}

.apps>a>h3{
    font-weight: 400;
    font-size: 16px;
    font-family: 'Play', sans-serif;
    margin-left: 10px;
    margin-top: -2px;
    color: rgb(87, 76, 76);
}

.stars{
    padding: 12px 10px;
}

.stars>i{
    transform: rotate(-45deg);
    font-size: 14px;
}

#purple_star{
    color: purple;
}

#yellow_star{
    color: yellow;
}
#pink_star{
    color: #EA047E;
}

.head_center{
    font-family: 'Play', sans-serif;
    padding: 10px 5px;
    width: 400px;
    text-align: center;
}

.footer_mid{
    display: flex;
    width: 90%;
    margin: auto;
}

.search_bar{
    border-bottom: 1px solid gray;
    padding-top: 40px;
    padding-right: 20px;
    height: 25px;
    width: 350px;
    
}

.search_bar>i{
    color: #EA047E;
    padding: 0px 10px;
    font-size: 18px;
    
}

.search_bar>input{
    font-size: 18px;
    border: none;
    outline: none;
}

.logo{
    padding: 0px 80px;
}
.logo>img{
    width: 250px;
}

.featurs{
    display: flex;
    padding-left: 200px;
    padding-top: 30px;
}

.nav_links{
    width: 95%;
    margin: auto;
    
}

.nav_links>ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links>ul>li{
    padding: 5px 1px;
    list-style: none;
    text-align: center;
    width: 165px;
    border-bottom: 1px solid  rgb(187, 178, 178);
    font-weight: 500;
    font-family: 'Domine', serif;
    font-weight: 600;

}

#pop {
    position: absolute;
	display: none;
	background-color: #222;
    font-family: 'Play', sans-serif;
	top: 200px;
    color: white;
	text-align: left;
    left: 0px;
    width: 100%;
    
    
}

.nav_links>ul>li:hover{
    box-shadow: 5px 5px 15px rgb(167, 159, 159);
    color: #EA047E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.nav_links>ul>li:hover > #pop  {
	display: block;
    z-index: 99999;
}

table{
    width: 80%;
    padding: 20px 0px;
    margin: auto;
    font-size: 14px;
    font-weight: 400;
}
table>th{
    margin-bottom: 30px;
}
td{
    line-height: 20px;
}

td:hover{
    color: #EA047E;
}


/* MAP */

.map_image{
    width: 100%;
    overflow: hidden;
    position:absolute ;
}


.find_store{
    width: 25%;
    height: 400px;
    position:relative ;
    border: 2px solid #EA047E;
    border-radius: 10px;
    left: 3%;
    margin-top: 30px;
    overflow: hidden;
    background-color: white;
}

.find_store h2{
    text-align: center;
    padding-top: 30px;
    font-family: 'Play', sans-serif;
}

.find_store input{
    width: 270px;
    margin-top: 20px;
    font-family: 'Play', sans-serif;
    border: none;
    outline: none;
    margin-left: 20px;
    background-color: rgb(219, 209, 209);
    align-items: center;
    font-size: 22px;
    display: block;
    padding: 5px 10px;
    margin-bottom: 30px;
}


.btn_find{
    padding: 5px 10px;
    width: 290px;
    display: block;
    font-family: 'Play', sans-serif;    
    font-size: 22px;
    margin-top: 60px;
    margin-left: 30px;
    color: white;
    border: none;
    background-color: #EA047E;
    margin: auto;
}

.find_store img{
    width: 350px;
    margin-top: 66px;
}

/* ===============
=======get app=====
===================== */

.app_link{
    width: 100%;
    background-color: #f6f8fa;
    display: flex;
}

.app_image{
    margin-left: 200px;
}
.app_image img{
    width: 500px;
}

.app{
    width: 400px;
    padding: 20px 20px;
}

.app h1{
    margin-top: 70px;
    font-size: 55px;
}

.app h3{
    font-family: 'Play', sans-serif; 
    margin-top: 20px;
    letter-spacing: 1px;
    color: rgb(49, 49, 49);
}

.app form{
    display: flex;
}

.app input{
    font-size: 22px;
    font-family: 'Play', sans-serif; 
    padding: 10px 10px;
    margin-top: 30px;
    border: none;
    outline: none;
}

#submit{
    background-color: #EA047E;
    margin-top: 30px;
    color: white;
}

.app_links_img{
    justify-content: space-between;
    margin-top: 40px;
}


/* FEEDBACK */

.Feedback{
    width: 100%;
    margin-top: 50PX;
}

.feedback_heading{
    text-align: center;
    font-size: 55px;
    margin-bottom: 30px;
}

.swiper {
    width: 40%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 300px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  /* .swiper-slide img {
    display: block;
    width: 100%;
  } */


  .personal_detail{
    display: flex;
    padding: 15px;
  }

  .personal_detail img{
    width: 100px;
  }

  .personal_detail h3{
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Play', sans-serif; 
    letter-spacing: 1px;
  }

  .person p{
    font-family: 'Play', sans-serif;
    color: rgb(65, 63, 63);
    padding: 10px;
  }


  /* BACK */


  .backtotop>a{
    display: block;
    width: 200px;
    padding: 12px 5px;
    background-color: #abc72c;
    margin: 50px auto 0px auto;
    text-align: center;
    color: #222;
    text-decoration: none;
    font-weight: 600;
}




.subscribe{
    width: 100%;
    height: 170px;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    
}

.subscribe>h1{
    text-align: center;
    padding-top: 30px;
    letter-spacing: 1px;
}

.add_email{
    width: 600px;
    margin:  30px auto;
    display: flex;
}

.add_email>input{
    font-size: 20px;
    width: 400px;
    border: none;
    outline: none;
    padding: 5px;
    font-family: 'Play', sans-serif;
}

.add_email>h2{
  background-color: black;
  color: white;
  
  
  font-weight: 400;
}

.add_email>h2>button{
    padding: 15px 30px;
    background-color: black;
    color: white;
    font-size: 22px;
    font-family: 'Play', sans-serif;
}


.popup {
    width: 800px;
    background-color: #f2f2f2;
    display: flex;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    color: black;
    padding: 30PX 30PX;
    transition: transform 0.4s, top .04s ;
}

.popup>h1{
    font-family: 'Play', sans-serif;
    letter-spacing: 1px;
}

.open-popup{
    visibility: visible;
    top: 210%;
    transform: translate(-50%,-50%) scale(1);
}

.close{
    font-size: 25px;
    background-color: transparent;
    margin-left: 30px;
    border: none;
}


/* FOOTER */

header{
    width: 100%;
    margin-top: 80px;
}

.header_main{
    width: 80%;
    margin: auto;
}

.header_links{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin: auto;
}


.header_links a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #222;
}

.header_links a:hover{
    color: #EA047E;
}


.header_links1{
    display: flex;
    width: 20%;
    justify-content: space-between;
    padding-top: 30px;
    margin: auto;
}


.header_links1 a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #222;
    font-size: 30px;
}

.header_links1 a:hover{
    color: #EA047E;
}


.header_links3{
    display: flex;
    width: 60%;
    justify-content: space-between;
    padding-top: 0px;
    margin: auto;
}


.header_links3 a{
    text-decoration: none;
    letter-spacing: 1px;
    color: #222;
    font-size: 14px;
    font-family: 'Play', sans-serif;

}

.header_links3>h3{
    padding-top: 15px;
}